h1{
    color: blue;
    text-decoration: line-through;
    background-color: yellow;
    visibility: hidden;
}

body{
    background-color: pink;
}

button{
    background-color: blue;
    color: white;
}